<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/components/fonts.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <title>IMO</title>
</head>

<body>

    <%- include ('partials/header') %>

    <main>
        <section class="inicial">
            <div class="slogan">
                <p class="texto-slogan"> &lt;Desenvolva sua carreira com nossos cursos/></p>
            </div>

            <!-- <div class="iniciar">
                <a href="/aula" class="botaoazul">Comece agora!</a>
            </div> -->

            <div class="aulinhas">
                <div class="carousel-container">
                    <button class="carousel-btn prev">&#10094;</button>
                    <div class="carousel">
                        <% cursos.forEach(curso => { %>
                        <div class="carousel-item curso">
                            <a href="/library/<%= curso.categoria_curso%>/<%= curso.nome_curso %>">
                                <img src="<%= curso.diretorio_thumbnail_curso %>" alt="Curso 1">
                            </a>
                            <p><%= curso.nome_curso %></p>
                            <p>4.0 ★★★★☆</p>
                        </div>
                        <% }) %>
                    </div>
                    <button class="carousel-btn next">&#10095;</button>
                </div>
            </div>
        </section>


        <section class="biblioteca">
            <div class="texto-popular">
                <h2>MAIS POPULARES</h2>
            </div>
            <div class="cursos-populares">
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARadobe.png" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARagil.png" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARbanco.jpg" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARcloud.png" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARexcel.png" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARgit.png" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARjs.png" alt=""></a></div>
                <div class="card"><a href=""><img src="/img/thumbnails/POPULARreact.jpg" alt=""></a></div>
            </div>
        </section>

        <%- include('partials/footer.ejs', { background: 'black' }) %>

    </main>

    <script src="/js/header.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>